{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": [
            "> 5%"
          ]
        }
      }
    ],
    "@babel/preset-stage-2"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "@babel/runtime"
    }],
    // "styled-components",
    "lodash"
  ]
}
